.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  margin-left: auto;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: var(--trns);

  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.mobile-menu__icon {
  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }

  &.menu-toggle {
    position: absolute;
    top: 16px;
    right: 15px;
    color: #fff;
  }
}

.mobile-menu {
  padding: 10px;
  margin-bottom: auto;
  margin-left: 0;

  color: var(--primary-text-color);
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #212121;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-mobile-link {
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.mobile-menu-current {
  color: var(--accent-text-color);
}

.mobile-contacts {
  margin-left: 0;
  margin-bottom: 64px;
}

.mobile-menu-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  margin-bottom: 32px;

  color: var(--accent-text-color);
}

.mobile-menu-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 0;
}

.mobile-social__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
