body {
    margin: 0;

    font-family: "Roboto", sans-serif;

    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

.container {
  max-width:480px;
    margin: 0 auto;

    padding-left: 15px;
    padding-right: 15px;


   @media screen and (min-width: 767px){
    max-width: 768px;
   }

   @media screen and (min-width:1199px) {
    max-width:1200px;

   }
}